<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index3.css') }}">
    <title>EduTutor</title>
</head>
<body>
    <div class="form">
        <header>Self Assessment</header>
        <h3>(1) Morning dew is an example of which part of water cycle?</h3>
        <ul>
           <input type="radio"></input><label><li>Transpiration</li></label>
           <input type="radio"></input><label><li>Condensation</li></label>
           <input type="radio"></input><label><li>Evoporation</li></label>
           <input type="radio"></input><label><li>Precipitation</li></label>
        </ul>
        <h3>(2) The food/chemical energy source made by plants through photosyntesis is?</h3>
        <ul>
           <input type="radio"></input><label><li>Water</li></label>
           <input type="radio"></input><label><li>Glucose</li></label>
           <input type="radio"></input><label><li>Sunlight</li></label>
           <input type="radio"></input><label><li>Carbon dioxide</li></label>
        </ul>
        <h3>(3) Acids are found in many common chemicals,including foods.Acids taste:</h3>
        <ul>
           <input type="radio"></input><label><li>Soapy</li></label>
           <input type="radio"></input><label><li>Sour</li></label>
           <input type="radio"></input><label><li>Sweet</li></label>
           <input type="radio"></input><label><li>Salty</li></label>
        </ul>
        <h3>(4) Choose an appropriate number for the blank: 7-( __ ) = 2</h3>
        <ul>
           <input type="radio"></input><label><li>5</li></label>
           <input type="radio"></input><label><li>-5</li></label>
           <input type="radio"></input><label><li>9</li></label>
           <input type="radio"></input><label><li>-9</li></label>
        </ul>
        <h3>(5) Identify the property used: 2 x 13 + 8 x 13 = (2 + 8) x 13</h3>
        <ul>
           <input type="radio"></input><label><li>Commutative</li></label>
           <input type="radio"></input><label><li>Closure</li></label>
           <input type="radio"></input><label><li>Associative</li></label>
           <input type="radio"></input><label><li>Distributive</li></label>
        </ul>
        <h3>(6) A triangle whose sides are 15cm, 36cm, 39cm is </h3>
        <ul>
           <input type="radio"></input><label><li>Right angled</li></label>
           <input type="radio"></input><label><li>Equilateral</li></label>
           <input type="radio"></input><label><li>Isosceles</li></label>
           <input type="radio"></input><label><li>Acute angled</li></label>
        </ul>
        <h3>(7) The flowers will be a surprise ___ my mother.</h3>
        <ul>
           <input type="radio"></input><label><li>by</li></label>
           <input type="radio"></input><label><li>for</li></label>
           <input type="radio"></input><label><li>from</li></label>
           <input type="radio"></input><label><li>to</li></label>
        </ul><br>
        <h3>(8) ___ volcanoes are of two types.</h3>
        <ul>
           <input type="radio"></input><label><li>An</li></label>
           <input type="radio"></input><label><li>A</li></label>
           <input type="radio"></input><label><li>The</li></label>
           <input type="radio"></input><label><li>No article</li></label>
        </ul>
        <h3>(9) Rupa is crying.She ____ her examination.</h3>
        <ul>
           <input type="radio"></input><label><li>fail</li></label>
           <input type="radio"></input><label><li>failed</li></label>
           <input type="radio"></input><label><li>has failed</li></label>
           <input type="radio"></input><label><li>had failed</li></label>
           
        </ul>
    </div>
</body>
</html>