<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index3.css') }}">
    <title>EduTutor</title>
</head>
<body>
    <div class="form">
        <header>Self Assessment</header>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat eaque</h3>
        <ul>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
        </ul>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat eaque</h3>
        <ul>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
        </ul>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat eaque</h3>
        <ul>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
        </ul>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat eaque</h3>
        <ul>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
        </ul>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat eaque</h3>
        <ul>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
        </ul>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat eaque</h3>
        <ul>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
        </ul>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat eaque</h3>
        <ul>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
        </ul>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat eaque</h3>
        <ul>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
        </ul>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro fugiat eaque</h3>
        <ul>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
           <input type="radio"></input><label><li>lorem</li></label>
        </ul>
    </div>
</body>
</html>