<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index1.css') }}">
    <title>Document</title>
 
</head>
<body>
    <div class="rectangle">
        <div class="rectangle1">
        
            <img src="{{ url_for('static', filename='img/Rectangle 1.jpg') }}" alt="Trulli" style="width:75%" left="0px">
            <div class="hellouser">
            <h3>Hello, User !</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae velit nec pulvinar nullam elit sagittis, est iaculis. Faucibus urna orci, eget etiam risus montes, ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis feugiat elementum viverra montes, ipsum vitae magna sed. Netus lobortis malesuada massa urna, scelerisque scelerisque.</figcaption>
          </p>
          </div>
 
</body>
</html>