<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index2.css') }}">
    <title>Document</title>
 
</head>
<body>
    <div class="rectangle">
        <form action="/action_page.php">
            <p style="text-align:center;"><b style="font-size:2.5rem">Information Form</b><br><br></p>
            <div class="container">
              
              <input type="text" placeholder="Name" name="name" id="name" required>
              <input type="number" placeholder="Class" name="Class" id="Class" required>
              <input type="state" placeholder="State" name="state" id="psw-repeat" required>
              <br><br>
            
          </form>
        <form action="/action_page.php">
            <p><b>Would you like to take the assessment or manually fill the form?</b></p>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Manually fill the form</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Take the assessment</label><br>
    </div>
</div>
 
</body>
</html>