<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index1.css') }}">
    <title>Document</title>

</head>
<body>
    <form method="post">
    <div class="rectangle">
        <div class="rectangle1">
        
            <img src="{{ url_for('static', filename='img/final studyy.jpg') }}"alt="Trulli" style="width:100%" left="0px"></img>
            <div class="hellouser">
                <h3><br>
            <strong>Hello,User!</strong></h3>
            </div>
            <p>As the world is currently battling a pandemic educational institutions have taken a new approach to teaching and that is online learning. Teachers and students are both equally hit by this as the former is not able to get their income and the latter not able to get there education to overcome this problem we have come up with a Edu-tutoring platform which helps connecting students and teachers this is done by asking students a series of questions and according to their answers suitable teachers are alloted to them</figcaption>
          </p>
          <p style="text-align:right;"><br>
          <button type="submit">
            Form  >
          </button>
        </p>
          </div>
        </form>

</body>
</html>
