<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index1.css') }}">
    <title>Document</title>

</head>
<body>
    <form method="post">
    <div class="rectangle">
        <div class="rectangle1">
        
            <img src="{{ url_for('static', filename='img/final studyy.jpg') }}"alt="Trulli" style="width:100%" left="0px"></img>
            <div class="hellouser">
                <p><br>
            <strong>Hello,User!</strong></p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae velit nec pulvinar nullam elit sagittis, est iaculis. Faucibus urna orci, eget etiam risus montes, ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis feugiat elementum viverra montes, ipsum vitae magna sed. Netus lobortis malesuada massa urna, scelerisque scelerisque.</figcaption>
          </p>
          <p style="text-align:right;"><br>
          <button type="submit">
            Form
          </button>
        </p>
          </div>
        </form>

</body>
</html>
